services:
  conduit:
    environment:
      VIRTUAL_PORT: ${VIRTUAL_PORT:-$CONDUIT_PORT}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    networks:
      - letsencrypt-network

  conduit-reverse:
    container_name: conduit-reverse
    image: ferronserver/ferron:2
    restart: unless-stopped
    environment:
      VIRTUAL_PORT: ${WELL_KNOWN_VIRTUAL_PORT:-80}
      VIRTUAL_HOST: ${WELL_KNOWN_VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${WELL_KNOWN_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${WELL_KNOWN_LETSENCRYPT_EMAIL}
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: 3
    depends_on:
      - conduit
    configs:
      - source: conduit-reverse-conf
        target: /etc/ferron.kdl
    networks:
      - letsencrypt-network

configs:
  conduit-reverse-conf:
    content: |
      *:80 {
          location "/.well-known" {
              proxy "http://conduit:${VIRTUAL_PORT:-$CONDUIT_PORT}"
          }
          location "/_matrix" {
              proxy "http://conduit:${VIRTUAL_PORT:-$CONDUIT_PORT}"
          }
      }

networks:
  letsencrypt-network:
    external: true